<style>
    footer{
        background-color: #007bff;
        padding: 15px;
        color: #fff;
        font-size: 22px;
        text-align: center; 
    }

    footer a{
        text-decoration: none;
        color: #fff;
    }
    footer a:hover{
        text-decoration: none;
        color: ghostwhite;
    }
</style>

<footer class="sticky footer">
    <a href="/">&copy; innovateBlog 2020</a>
</footer>