<%- include('partials/layout.ejs') %>


<title>Add Trending Post</title>
<div class="container">
    
    <h1 class="mb-4 mt-4">Add Trending</h1>
    <form action="/articles/trending" method="post">
        <div class="form-group">
            <label for="title">Post Title</label>
            <input type="text" class="form-control" name="trendingTitle" required>
        </div>
        <div class="form-group">
            <label for="title">Post Description</label>
            <input type="text" class="form-control" name="trendingDescription" required>
        </div>
        <div class="form-group">
            <label for="title">Post Link</label>
            <input type="url" class="form-control" name="trendingLink" required>
        </div>




        <br>
        <input type="submit" value="Add Post" class="btn btn-primary">
        <a href="/" class="btn btn-secondary">Cancel</a>
        
    </form>

</div>
