body{
    
    font-family: 'Quicksand',
    sans-serif;
    color: #555;
    background-color: #f1f1f1;
}

img{
    width: 100%;
}

h2, h3, h4, h5, h6, strong, a, i{
    color: #007bff;
}



.carder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 6px;
}

.carder h3 {
    margin-bottom: 1rem;
}

.carder img {
    height: 330px;
}

.carder>div {
    padding: 1.5rem;
}

.carder:nth-child(even) img {
    order: 2;
}

#searchbar {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 50px;
}

#nothing{
    display: none;
}




@media(max-width: 700px) {
    .carder {
        display: block;
    }
    .carder img {
        height: 200px;
    }
    .carder>div {
        padding: 1rem;
    }
}

